* {
  box-sizing: border-box;
}

html {
  background-color: #0e1523;
  color: #fff;
  font-family: "Rubik", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji";
  font-size: 100%;
  line-height: 1;
}

:root {
  --border: rgba(255, 255, 255, 0.4);
  --font-mono: "Fragment Mono", monospace;
}

code {
  font-family: var(--font-mono);
}

.wrapper {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  width: 100%;
}

.cal {
  border-right: 1px solid var(--border);
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 100%;
}

.cal > * {
  border-bottom: 1px solid var(--border);
  border-left: 1px solid var(--border);
}

.cal-heading {
  border-bottom-color: currentColor;
  border-top: 1px solid var(--border);
  font-weight: 700;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  text-align: center;
}

.day {
  counter-increment: day;
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem 1rem;
  position: relative;
}

.day::before {
  content: counter(day);
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.day-solutions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0;
}

.day-solutions dt,
.day-solutions dd {
  border-bottom: 1px solid var(--border);
  line-height: 1;
  margin: 0;
  padding: 0.5rem 0;
}

.day-solutions dt:last-of-type,
.day-solutions dd:last-of-type {
  border-bottom-width: 0;
}

.day-solutions dt {
  align-items: center;
  display: flex;
  font-size: 0.75rem;
  letter-spacing: 0.0625em;
  opacity: 0.7;
  text-transform: uppercase;
}

.day-solutions dd {
  font-family: var(--font-mono);
}

.day-exec {
  font-size: 0.75rem;
  margin-top: 0.5rem;
  opacity: 0.7;
}
